/* Toolbar styles */

.toolbar {
    background: #2c3e50;
    color: white;
    padding: 8px 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.toolbar .page-title-section {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 0;
}

.toolbar .page-title-section h1 {
    margin-bottom: 0;
    white-space: nowrap;
    padding-right: 16px;
}

.toolbar .page-title-section .problem-name {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toolbar .page-title-section .problem-name-button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background: #34495e;
    color: white;
    cursor: pointer;
}

.toolbar .page-title-section .problem-name-input {
    padding: 4px 8px;
    width: 250px;
}

.toolbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar-header .toolbar-feedback {
    border: 1px solid #aaa;
    width: 30px;
    border-radius: 4px;
    height: 30px;
    text-align: center;
}

.toolbar h1 {
    font-size: 18px;
    margin-bottom: 6px;
}

.tool-buttons {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;
    flex-wrap: wrap;
}

.tool-btn {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background: #34495e;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 1;
}

.tool-btn:hover {
    background: #4a6278;
    transform: translateY(-2px);
}

.tool-btn.active {
    background: #3498db;
}

#toggleNamesBtn.active {
    background: #27ae60;
}

.tool-btn.danger {
    background: #e74c3c;
}

.tool-btn.danger:hover {
    background: #c0392b;
}

.tool-btn.solve-btn,
.tool-btn.to-solver-mode {
    width: auto;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.info {
    font-size: 12px;
    color: #ecf0f1;
}

.toolbar .tool-btn-wrapper {
    position: relative;
}
.toolbar .tool-btn-wrapper .tool-btn-options {
    position: absolute;
    top: 100%;
    left: 0;
    background: #2c3e50;
    color: white;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;

}
.toolbar .tool-btn-wrapper .tool-btn-options .tool-btn-option {
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.toolbar .tool-btn-wrapper .tool-btn-options .tool-btn-option:hover {
    background: #4a6278;
}

.toolbar .tool-btn-wrapper:hover .tool-btn-options {
    display: block;
}